/target
/lib
/classes
/checkouts
pom.xml
dev-config.edn
*.jar
*.class
/.lein-*
profiles.clj
/.env
.nrepl-port
/.shadow-cljs
package.json
shadow-cljs.edn
/node_modules
/log
.idea
.vscode
.shadow-cljs
package-lock.json
nohup.out
cache.json
/src/clj/cyberme/ice.clj
/demos/tasks/firefox/
/demos/tasks/firefox/*
/demos/tasks/package/
/demos/tasks/geckodriver.exe
/.lsp
/demos/tasks/GK22*.png
/demos/tasks/temp.png
/demos/tasks/package2/
